{% extends 'base.html' %}

{% block content %}
  <h1>Todo List</h1>
  {% if todos %}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
        <tr>
          <td>{{ todo.title }}</td>
          <td>{{ todo.description }}</td>
          <td>{{ todo.due_date }}</td>
          <td>
            <form method="POST" action="{% url 'todo:toggle_complete' todo_id=todo.id %}">
              {% csrf_token %}
              <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %} onchange="this.form.submit()">
            </form>
          </td>
          <td>
            <a href="{% url 'todo:todo_edit' todo_id=todo.id %}">Edit</a>
            <a href="{% url 'todo:delete' todo_id=todo.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>There are currently no tasks to do! <br> Go to the Add Todo tab to add new tasks.</p>
  {% endif %}
{% endblock %}
